{% extends '::base.html.twig' %}
{% block body %}
    <form action="{{ path(action) }}" method="post">
        op1 <input type="number" name="op1" placeholder="An integer"><br>
        op2 <input type="number" name="op2" placeholder="An integer"><br>
            <input type="submit" value="ok">
    </form>
{% endblock %}